.Carrousel {
    height: 415px;
    width: 100%;
    border-radius: 25px;
    position: relative;
  }
  
  .imgCarr {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    content: "";
    inset: 0;
  }
  
  .chevronLeft {
    color: white;
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 40%;
  }
  
  .chevronRight {
    color: white;
    position: absolute;
    cursor: pointer;
    top: 40%;
    left: 95%;
  }
  
  .slideshowBtn {
    border: none;
    background-color: transparent;
    color: white;
    display: hidden;
  }
  
  .Numerotation {
    color: white;
    text-align: center;
    font-weight: 500;
    font-family: "montserrat";
    font-size: 18px;
    position: relative;
    top: 80%;
   
    
  }


  /* Styles pour les écrans de largeur maximale de 768px */
@media screen and (max-width: 768px) {
  .Numerotation {
    display: none;
   
    
  }
  .chevronRight {
    left: 90%;
  }
}