.Carrousel {
  height: 415px;
  width: 100%;
  border-radius: 25px;
  position: relative;

}

.imgCarr {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  content: "";
  inset: 0;
}

.logement {
  display: flex;
  flex-direction: column;
}

.detailLogement {
  display: flex;
  color: rgba(255, 96, 96, 1);
  font-family: "montserrat";
}

.hostIdentity {
  display: flex;
  color: rgba(255, 96, 96, 1);
  width: 167px;
  gap: 10px;
  align-items: center;
  margin-top: 20px;

  p {
    display: flex;
    text-align: right;
    align-items: center;
    margin: 0;
  }

  img {
    border-radius: 50%;
    width: 64px;
    height: 64px;

  }
}

.description {
  width: 100%;

  h2 {
    margin: 0;
  }
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
}

.tags {
  background-color: rgba(255, 96, 96, 1);
  border-radius: 10px;
  font-size: 14px;
  height: 25px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 160px;
  justify-content: center;
}

.span1 {
  color: rgba(255, 96, 96, 1);
}

.span2 {
  color: rgba(227, 227, 227, 1);
}

.stars {
  display: flex;
  gap: 10px;
  font-size: 25px;
  height: 36px;
  width: 36px;
}

.collapseEqui {
  display: flex;
  text-align: center;
  gap: 30px;
  margin-bottom: 40px;
  margin-top: 15px;
}