.error {
    color: rgba(255, 96, 96, 1);
    font-family: "montserrat";
    text-align: center;

    span {

        font-size: 288px;

    }

    a {
        text-decoration: underline;
        color: rgba(255, 96, 96, 1);
        font-size: 18px;
    }

    h3{
        font-size: 36px;
        
        
    }
    p{
        padding-bottom: 50px;
    }
}