.Home {}

.bannerTitle {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 50%;  /* centrer verticalement*/
  left: 50%;  /* centrer horizontalement*/
  transform: translate(-50%,-50%); /* centrer verticalement & horizontalement*/
  

  h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
    font-family: "montserrat";
  }
}
