.Home {
  margin: 20px 70px;
}

.bannerTitle {
  position: absolute;
  text-align: center;
  z-index: 1;
  margin-top: -198px;
  width: 90%;
  

  h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
    font-family: "montserrat";
  }
}
