.Collapse {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.visible {
    display: block;

    ul {
      margin: 0;
      padding: 0;
      padding-left: 10px;
      list-style: none;
    }

  }

  &.hidden {
    display: none;
  }

  &.Collapse.visible {
    background-color: rgba(241, 241, 241, 0.975);
    border-radius: 10px 10px 5px 5px;
    position: relative;
    z-index: -1;
    top: -10px;
    font-family: 'montserrat';
    font-size: 18px;
    color: rgba(255, 96, 96, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    
   

  }

  .chevron {
    margin-left: 30px;
  }

  .chevronContainer {
    display: flex;
    align-items: center;
  }

  .top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(255, 96, 96, 1);
    height: 50px;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    font-family: "montserrat";
    font-size: 24px;
  }

  

  .collapseContent {
    padding: 20px;
  }
}
